# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv

# Node
frontend/node_modules/
frontend/.vite/
frontend/dist/
node_modules/
dist/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
config.bat
